{% extends 'base.html.twig' %}
{#  le template index.html.twig herite de notre gabari de base 'base.html.twig' (header + footer + liens css etc.. )#}

{# bloc title apparait dans l'onglet du navigateur #}
{% block title %}Hello SYMFONY BlogController ! Liste des artices{% endblock %}
 
 {# le bloc body fait référence au bloque body déclaré dans fichier base.html.twig #}
 {#  le contenu du bloc body est envoyé dans le bloque body  du fichier base.html.twig #}
{% block body %}
   <h1 class="display-4 text-center my-4"> Listes des articles</h1>

   <div class="row d-flex justify-content-center">

      {# for est une boucle twig, une commande twig #}
      {# la variable 'artcile' provient de la mèthode index du controller 'blogController' , 
      elle contient tous les articles selectionnées en BDD #}
      {# NOUS SOMMES obligé de boucler puisque nous avons selectionné 10 articles en BDD #}
      {# newArticle est une variable de récéption que nous déclarons dans la boucle FOR et 
      qui réceptionne un article par tour de boucle #}

      {% for newArticle in articles %}

      <div class="col-md-3 border border-secondary rounded mr-1 mb-1 text-center">
      <img src='{{newArticle.image}}' alt='{{ newArticle.title}}' class="clo-md-12 rounded"><hr>
        <h2>{{ newArticle.title }}</h2>
        <p>{{ newArticle.content|slice(3,200)|raw }}</p><hr>
        <p>Posté le {{newArticle.createdAt|date('Y-m-d')}} à {{newArticle.createdAt|date('H:i:s')}} </p> <hr>
        <p><a class="btn btn-info" href="{{ path('blog_show', {'id': newArticle.id }) }}" role="button">
        View details &raquo;</a></p>
        {# on ajoute un éme param à la methode path() de twig afin de transmettre l'id de l'article dans l'url #}
      </div> 

      {# sanas le filtre twig raw, mes balises p s'affiche#}
      {# date() filtre twig qui permet d(afficher la date et l'heure #}
      {# newarticle.creatAt : la BDD renvoie un objet  dateTime pour le converti en string #}

      {% endfor %}

    </div>
{% endblock %}
